# © 2025 EcoHub AG. All rights reserved.
# Publicly accessible for informational purposes only.
# No rights to use, implement, modify, reproduce, distribute, or create derivative works without prior written authorization.
# Swiss law applies. Jurisdiction: Zurich.

openapi: 3.1.0

info:
  title: EcoHub Marketplace Partner API
  version: 1.0.0
  description: |
    Partner-facing API specification for:

    - Marketplace SaaS subscription onboarding webhooks
    - Affiliated application OIDC configuration
    - OIDC ID Token claim definitions

servers:
  - url: 'https://services.myecohub.ch'
    description: Production environment
  - url: 'https://services.test-myecohub.ch'
    description: Development environment

tags:
  - name: Affiliated Apps
    description: Endpoints for managing OpenID Connect configuration of affiliated applications.

  - name: Marketplace Webhooks
    description: Webhook contracts used by EcoHub Marketplace to notify subscription lifecycle events.

security:
  - mtls: []
    ApiKeyHeader: []

  - oauth2: []
    ApiKeyHeader: []

paths:

  /affiliated-app/publisher/{publisherId}/product/{productId}:
    get:
      tags:
        - Affiliated Apps

      summary: Get affiliated application OIDC configuration
      description: Retrieves the OpenID Connect configuration associated with a publisher-owned affiliated application.

      operationId: getAffiliatedAppConfigurationByPublisher

      parameters:
        - $ref: '#/components/parameters/PublisherId'
        - $ref: '#/components/parameters/ProductId'

      responses:
        "200":
          description: OIDC configuration successfully retrieved.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OidcApplicationConfiguration'

  /affiliated-app/product/{productId}:
    get:
      tags:
        - Affiliated Apps

      summary: Get affiliated application OIDC configuration
      description: Retrieves the OpenID Connect configuration associated with an affiliated application.

      operationId: getAffiliatedAppConfiguration

      parameters:
        - $ref: '#/components/parameters/ProductId'

      responses:
        "200":
          description: OIDC configuration successfully retrieved.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OidcApplicationConfiguration'

  /affiliated-app/product-update/{productId}:
    put:
      tags:
        - Affiliated Apps

      summary: Update affiliated application OIDC configuration
      description: Updates the OpenID Connect configuration of an affiliated application.

      operationId: updateAffiliatedAppConfiguration

      parameters:
        - $ref: '#/components/parameters/ProductId'

      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateOidcApplicationRequest'

      responses:
        "200":
          description: OIDC configuration successfully updated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OidcApplicationConfiguration'

  /marketplace/on-boarding:
    post:
      tags:
        - Marketplace Webhooks

      summary: Marketplace onboarding webhook endpoint
      description: Receives subscription and user-assignment events from EcoHub Marketplace for SaaS provisioning and lifecycle synchronization.

      operationId: onboardingWebhook

      parameters:
        - name: action
          in: query
          required: true
          description: Marketplace event type that triggered the webhook notification.
          schema:
            $ref: '#/components/schemas/WebhookAction'

      requestBody:
        required: true
        content:
          application/json:
            schema:
              oneOf:
                - $ref: '#/components/schemas/SubscriptionCreatedPayload'
                - $ref: '#/components/schemas/SubscriptionUpgradedPayload'
                - $ref: '#/components/schemas/SubscriptionDowngradedPayload'
                - $ref: '#/components/schemas/SubscriptionCancellationInitiatedPayload'
                - $ref: '#/components/schemas/SubscriptionCancelledPayload'
                - $ref: '#/components/schemas/SubscriptionSuspendedPayload'
                - $ref: '#/components/schemas/SubscriptionReactivatedPayload'
                - $ref: '#/components/schemas/SubscriptionTerminatedPayload'
                - $ref: '#/components/schemas/SubscriptionRenewedPayload'
                - $ref: '#/components/schemas/SeatUsersSubscriptionPayload'

      responses:
        "200":
          description: Webhook event processed successfully.

components:

  securitySchemes:
    mtls:
      type: mutualTLS
      description: Mutual TLS authentication using client certificates
    oauth2:
      type: oauth2
      description: OAuth 2.0 Client Credentials (Bearer token)
      flows:
        clientCredentials:
          tokenUrl: https://login.microsoftonline.com/{tenantId}/oauth2/v2.0/token
          scopes:
            api://{appId}/Compliance.Read: Read access to Compliance Service
            api://{appId}/Compliance.Write: Write access to Compliance Service
    ApiKeyHeader:
      type: apiKey
      in: header
      name: ocp-apim-subscription-key
      description: Required subscription key

  parameters:

    PublisherId:
      name: publisherId
      in: path
      required: true
      description: Unique identifier of the publisher that owns the affiliated application.
      schema:
        type: string
        format: uuid

    ProductId:
      name: productId
      in: path
      required: true
      description: Unique identifier of the affiliated application or Marketplace product.
      schema:
        type: string
        format: uuid

  schemas:

    WebhookAction:
      type: string
      description: Marketplace event type that triggered the webhook notification.
      enum:
        - SubscriptionCreated
        - SubscriptionUpgraded
        - SubscriptionDowngraded
        - SubscriptionCancelationInitiated
        - SubscriptionCancelled
        - SubscriptionSuspended
        - SubscriptionReactivated
        - SubscriptionTerminated
        - SubscriptionRenewed
        - SeatUsersSubscriptionUpdated

    BillingPeriod:
      type: string
      description: Billing frequency used by the subscription.
      enum:
        - monthly
        - yearly

    InitiatorParty:
      type: string
      description: Party that initiated the subscription change.
      enum:
        - customer
        - publisher

    ApplicationCredential:
      type: object
      description: Credential information associated with a confidential client application.
      additionalProperties: true

    OidcApplicationConfiguration:
      type: object
      description: OpenID Connect configuration associated with an affiliated application.

      properties:

        id:
          type: string
          format: uuid
          description: Unique identifier of the affiliated application.

        appRegistrationName:
          type: string
          description: Display name of the identity provider application registration.

        applicationId:
          type: string
          format: uuid
          description: Unique identifier of the affiliated application record.

        clientID:
          type: string
          description: OAuth/OpenID Connect client identifier assigned to the application.

        sloUrl:
          type:
            - string
            - "null"
          format: uri
          description: Single Logout endpoint used to sign users out of the application.

        redirectUrls:
          type: array
          description: List of approved redirect URIs for authentication responses.
          items:
            type: string
            format: uri

        appRegistrationObjectID:
          type: string
          format: uuid
          description: Internal object identifier of the identity provider application registration.

        isPrivateApplication:
          type: boolean
          description: Indicates whether access is restricted to approved organizations.

        credential:
          description: Client credential information used for confidential client authentication.
          oneOf:
            - type: "null"
            - $ref: '#/components/schemas/ApplicationCredential'

    UpdateOidcApplicationRequest:
      type: object
      description: Request used to update OpenID Connect settings for an affiliated application.

      properties:

        redirectUrls:
          type: array
          description: Redirect URIs that may receive authentication responses.
          items:
            type: string
            format: uri

        sloUrl:
          type:
            - string
            - "null"
          format: uri
          description: Single Logout endpoint of the affiliated application.

        isPrivateApplication:
          type: boolean
          description: Indicates whether access is limited to approved organizations.

    CommonPayload:
      type: object
      description: Common fields included in all Marketplace webhook events.

      required:
        - activityId
        - subscriptionId
        - customerId
        - publisherId
        - productId
        - action
        - timeStamp

      properties:

        activityId:
          type: string
          format: uuid
          description: Unique identifier used for end-to-end operation tracing.

        subscriptionId:
          type: string
          format: uuid
          description: Unique identifier of the Marketplace subscription.

        customerId:
          type: string
          format: uuid
          description: Unique identifier of the customer organization.

        customerName:
          type: string
          description: Display name of the customer organization.

        initiatedById:
          type: string
          format: uuid
          description: Unique identifier of the user who initiated the action.

        initiatedByName:
          type: string
          description: Display name of the user who initiated the action.

        initiatedByEmail:
          type: string
          format: email
          description: Email address of the user who initiated the action.

        publisherId:
          type: string
          format: uuid
          description: Unique identifier of the product publisher.

        publisherName:
          type: string
          description: Display name of the product publisher.

        productId:
          type: string
          format: uuid
          description: Unique identifier of the Marketplace product.

        productSlug:
          type: string
          description: Human-readable unique product code used in Marketplace URLs.

        productName:
          type: string
          description: Display name of the Marketplace product.

        timeStamp:
          type: string
          format: date-time
          description: UTC timestamp when the event was generated.

        action:
          allOf:
            - $ref: '#/components/schemas/WebhookAction'
          description: Marketplace event represented by the payload.

    SubscriptionCreatedPayload:
      description: Payload sent when a customer purchases a new subscription.

      allOf:
        - $ref: '#/components/schemas/CommonPayload'
        - type: object
          properties:

            planId:
              type: string
              format: uuid
              description: Unique identifier of the subscribed pricing plan.

            planName:
              type: string
              description: Display name of the subscribed pricing plan.

            seats:
              type: integer
              description: Number of licensed users included in the subscription.

            billingPeriod:
              allOf:
                - $ref: '#/components/schemas/BillingPeriod'
              description: Subscription billing interval.

    SubscriptionRenewedPayload:
      description: Payload sent when a subscription is automatically renewed.

      allOf:
        - $ref: '#/components/schemas/CommonPayload'
        - type: object
          properties:

            planId:
              type: string
              format: uuid
              description: Unique identifier of the active pricing plan.

            planName:
              type: string
              description: Display name of the active pricing plan.

            seats:
              type: integer
              description: Number of licensed users included in the subscription.

            billingPeriod:
              allOf:
                - $ref: '#/components/schemas/BillingPeriod'
              description: Subscription billing interval.

            renewedAt:
              type: string
              format: date-time
              description: UTC timestamp when the renewal became effective.

    SubscriptionUpgradedPayload:
      description: Payload sent when a customer upgrades to a higher pricing plan.

      allOf:
        - $ref: '#/components/schemas/CommonPayload'
        - type: object
          properties:

            oldPlanId:
              type: string
              format: uuid
              description: Identifier of the pricing plan before the upgrade.

            oldPlanName:
              type: string
              description: Name of the pricing plan before the upgrade.

            newPlanId:
              type: string
              format: uuid
              description: Identifier of the pricing plan after the upgrade.

            newPlanName:
              type: string
              description: Name of the pricing plan after the upgrade.

            seats:
              type: integer
              description: Number of licensed users included in the subscription.

            billingPeriod:
              allOf:
                - $ref: '#/components/schemas/BillingPeriod'
              description: Subscription billing interval.

    SubscriptionDowngradedPayload:
      description: Payload sent when a customer downgrades to a lower pricing plan.

      allOf:
        - $ref: '#/components/schemas/CommonPayload'
        - type: object
          properties:

            oldPlanId:
              type: string
              format: uuid
              description: Identifier of the pricing plan before the downgrade.

            oldPlanName:
              type: string
              description: Name of the pricing plan before the downgrade.

            newPlanId:
              type: string
              format: uuid
              description: Identifier of the pricing plan after the downgrade.

            newPlanName:
              type: string
              description: Name of the pricing plan after the downgrade.

            seats:
              type: integer
              description: Number of licensed users included in the subscription.

            billingPeriod:
              allOf:
                - $ref: '#/components/schemas/BillingPeriod'
              description: Subscription billing interval.

    SubscriptionCancellationInitiatedPayload:
      description: Payload sent when cancellation has been requested but is not yet effective.

      allOf:
        - $ref: '#/components/schemas/CommonPayload'
        - type: object
          properties:

            initiatorParty:
              allOf:
                - $ref: '#/components/schemas/InitiatorParty'
              description: Party that initiated the cancellation process.

            cancellationInitiatedAt:
              type: string
              format: date-time
              description: UTC timestamp when cancellation was requested.

    SubscriptionCancelledPayload:
      description: Payload sent when a subscription reaches its cancellation date.

      allOf:
        - $ref: '#/components/schemas/CommonPayload'
        - type: object
          properties:

            initiatorParty:
              allOf:
                - $ref: '#/components/schemas/InitiatorParty'
              description: Party that initiated the cancellation.

            cancelledAt:
              type: string
              format: date-time
              description: UTC timestamp when the subscription became cancelled.

    SubscriptionSuspendedPayload:
      description: Payload sent when a subscription has been temporarily suspended.

      allOf:
        - $ref: '#/components/schemas/CommonPayload'
        - type: object
          properties:

            suspendedAt:
              type: string
              format: date-time
              description: UTC timestamp when the subscription became suspended.

    SubscriptionReactivatedPayload:
      description: Payload sent when a suspended subscription becomes active again.

      allOf:
        - $ref: '#/components/schemas/CommonPayload'
        - type: object
          properties:

            reactivatedAt:
              type: string
              format: date-time
              description: UTC timestamp when the subscription was reactivated.

    SubscriptionTerminatedPayload:
      description: Payload sent when a subscription has been permanently terminated.

      allOf:
        - $ref: '#/components/schemas/CommonPayload'
        - type: object
          properties:

            terminatedAt:
              type: string
              format: date-time
              description: UTC timestamp when the subscription was terminated.

            terminationReason:
              type: string
              description: Reason supplied for permanently terminating the subscription.

    Seat:
      type: object
      description: User assignment information for a seat-based subscription.

      properties:

        name:
          type: string
          description: Full name of the assigned user.

        userId:
          type: string
          description: Unique identifier of the user.

        email:
          type: string
          format: email
          description: Email address associated with the user account.

    SeatUsersSubscriptionPayload:
      description: Payload sent when user assignments within a subscription change.

      allOf:
        - $ref: '#/components/schemas/CommonPayload'
        - type: object
          properties:

            add:
              type: array
              description: Users that should currently have access to the subscription.
              items:
                $ref: '#/components/schemas/Seat'

            remove:
              type: array
              description: Users whose access should be revoked from the subscription.
              items:
                $ref: '#/components/schemas/Seat'